---
import Hero from "@/components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Hero />
    <div style="padding: 120px 40px;">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit
        omnis deleniti a debitis tenetur reprehenderit nobis assumenda inventore
        dicta voluptatum eligendi sed est, iste consectetur ullam ad similique
        esse! Tenetur tempora aspernatur vero rem reiciendis, delectus odio
        nihil placeat dolor quidem inventore assumenda adipisci enim architecto
        aperiam. Fugiat ea voluptatum a reiciendis fuga? Nobis omnis corrupti
        voluptatum sit fuga. Fugiat velit ipsa explicabo est laborum dolor
        adipisci repellendus dolore neque ducimus rerum tempora inventore
        architecto, quia suscipit nesciunt quisquam! Ullam nam labore facilis
        voluptatum consequuntur assumenda odit sequi recusandae. Quod possimus,
        obcaecati quae illo veritatis odio, doloremque eum at laborum deserunt
        nobis ipsam quisquam deleniti. Adipisci quae labore nisi ex repellat
        veniam, ad nobis? Ipsam temporibus sequi in culpa. Libero atque
        obcaecati repellat unde beatae laudantium asperiores reiciendis amet!
        Enim officiis veritatis esse, nihil labore consectetur earum accusamus
        recusandae alias, quae et hic ad nesciunt, aut laborum eius vitae. Fuga
        adipisci animi architecto, saepe minima odio nihil. Quibusdam atque
        necessitatibus assumenda non aut, quam quos sit esse eaque doloribus
        odio at nisi? Temporibus delectus tempora quia, mollitia accusantium
        odio. Quibusdam aperiam atque consequuntur dignissimos fuga ducimus
        aspernatur nostrum officiis quae. Saepe, quas dolor! Numquam architecto
        illo hic fugit. Aliquam odio sint perspiciatis porro? Libero at corporis
        temporibus molestias laborum? Odit fugiat laborum, tempore debitis,
        dolor velit quo suscipit excepturi omnis eaque porro accusantium
        repellat atque facilis repellendus obcaecati quis? Aliquam, quas
        debitis. Sunt, voluptatum. Cupiditate error non itaque dolor.
        Exercitationem nam odit temporibus architecto totam. Culpa est
        reiciendis impedit alias officiis laudantium magnam, nemo dolor sed,
        enim libero quam vitae quo facilis animi expedita aperiam qui in,
        consequatur sint! Alias sint nihil rem maiores soluta laborum unde minus
        necessitatibus libero officia. Nam, ratione nisi. Exercitationem, enim
        eaque? Ut expedita obcaecati quos sapiente non veniam dignissimos libero
        magni eum voluptatibus. Dolore, consequuntur sunt odio sed cupiditate
        libero eaque illo delectus sequi dignissimos molestiae quia, accusamus
        accusantium atque iste quod debitis ducimus quis totam, alias architecto
        eveniet? Dolorum ad officia sint? Quos, nulla! Dolor aut totam
        consequatur blanditiis ex magnam minima fugit? A asperiores repellat
        facere sapiente ipsum quaerat nam, odit tempora dicta molestiae nihil
        dolore, ratione, quia praesentium tempore excepturi. Maxime deleniti
        tenetur consequuntur molestias placeat repellat? Quam optio eaque
        laborum. Dolorem ipsum voluptates iusto animi harum id! Aut fugit iste
        quas perferendis vitae reiciendis sequi temporibus delectus voluptatem
        mollitia. Accusamus quia magni eveniet qui quas incidunt, odio soluta
        voluptas. Tenetur ratione fugit, doloribus, corrupti eveniet soluta est
        ipsa, ipsam voluptate fugiat facere placeat consequuntur laborum. Non
        labore ipsum sunt? Illo a veritatis vero recusandae qui quo alias modi,
        officia aliquid maxime inventore mollitia perspiciatis iusto, ratione,
        nemo itaque eius veniam dolorum consequuntur! Doloremque recusandae
        similique, fugiat perferendis facere sit. Ipsa quidem perferendis fugit
        autem labore placeat, itaque nesciunt qui alias corporis laborum nisi
        inventore numquam id nam! Dolorem doloremque placeat obcaecati alias?
        Quae quisquam adipisci recusandae quo, a sint. Nam tenetur provident qui
        corrupti ullam sapiente earum placeat modi officia. Nostrum doloremque
        eligendi est, ad officia nemo soluta numquam veritatis eveniet fuga
        distinctio, veniam ullam, cupiditate ut asperiores corrupti. Dolore
        temporibus quibusdam voluptas eum expedita saepe cum, atque non
        voluptate quod illum deleniti cumque perspiciatis sint adipisci
        obcaecati harum. Ex aliquid illum neque eveniet distinctio dignissimos
        sunt deleniti architecto. Totam asperiores sapiente commodi, nisi
        ratione repudiandae blanditiis veniam nobis exercitationem, atque
        possimus eos omnis voluptatum adipisci quis aliquid. Consectetur culpa
        ad expedita corrupti sit, minima commodi rem obcaecati recusandae? Eos
        ullam libero rerum harum consequatur sint doloribus voluptatibus
        pariatur itaque unde. Vel molestiae ipsum quas, consectetur similique
        minima rerum. Fuga magni impedit debitis! Eum at modi excepturi quam
        atque. Maiores ducimus aliquid illo hic optio, nostrum enim, magnam
        dolorum provident beatae quo aut alias sapiente rem ullam labore ab
        voluptatum distinctio saepe officia id. Iste expedita vero nihil
        obcaecati? Quae minus mollitia perspiciatis tempore aliquam praesentium
        laborum fuga cum amet vel. Ullam qui quis beatae natus doloribus debitis
        porro tenetur eligendi nihil, dicta maxime nemo repudiandae. Tempora,
        vitae facere. Esse, delectus blanditiis. Error eaque quam debitis? Omnis
        laudantium tempore temporibus quia eius iusto optio ab, voluptate illo,
        inventore ducimus. Laborum eaque voluptate laudantium dolor sint, ea
        repellat facere! Quos! Hic quasi libero tenetur explicabo nemo cum
        perferendis natus labore quae molestias sint, fugit nostrum quidem.
        Veniam, tenetur reiciendis autem cum beatae commodi ullam magni sapiente
        excepturi culpa accusantium quod! Mollitia incidunt asperiores ab
        laudantium atque! Modi iure a, magnam adipisci natus at expedita, velit
        quis repudiandae assumenda doloremque, nobis numquam aut earum porro
        ratione optio explicabo. Error, commodi molestias. Quidem nesciunt
        aliquid sequi reprehenderit harum quod sed obcaecati id voluptatibus ea
        dolor sint eum recusandae quis sapiente doloribus, officiis velit qui
        consectetur, dolorum optio. Perspiciatis debitis praesentium
        necessitatibus explicabo! Laboriosam molestiae asperiores delectus
        alias, dolorum voluptatibus ipsam eligendi voluptate placeat libero
        similique ea odio. Ipsum, corporis rem asperiores deleniti, voluptatum
        at, delectus nostrum sequi deserunt reprehenderit nam perspiciatis
        aliquam. Distinctio atque eaque in neque aliquid nisi, veniam facere
        dolore adipisci harum, eveniet omnis veritatis cum quaerat vel quam
        voluptatibus voluptatem nam eligendi numquam vero amet quis aut! Itaque,
        iste? Suscipit eius reprehenderit delectus eveniet amet debitis
        laudantium dolores explicabo aut incidunt sint nemo impedit commodi unde
        voluptate maxime quam quos quidem distinctio sit, sunt assumenda? Vero,
        fugit consequuntur. Voluptates! Beatae illo sint quo quas tempora iste
        qui ex, sit, repellendus animi nam aperiam incidunt harum inventore!
        Neque perferendis beatae rem dolores, in, odit doloremque, natus
        adipisci nihil earum et. Voluptatum alias corrupti dolorum repudiandae
        excepturi eum itaque. Sequi voluptas laborum veniam. Et, minima magni!
        Provident quod eius doloremque aliquid sed, ea eligendi nisi vel nam
        recusandae ipsa possimus facere! Eius necessitatibus autem nam dolor
        doloribus earum libero ipsam repellat pariatur at id non possimus
        exercitationem velit architecto nemo officia quisquam, odit esse. Cum,
        consequuntur dolorem nulla reiciendis unde qui? Ducimus laborum quidem
        ad laboriosam consectetur amet ipsa voluptate. Eius animi quam quas ipsa
        fugit excepturi quasi laudantium, quis eum voluptates impedit ducimus et
        reprehenderit molestias nam numquam placeat ab? Voluptatem facere
        accusamus quo modi, dolores perspiciatis, aliquam cum obcaecati ratione
        nisi porro tempora similique. Consequuntur incidunt inventore, impedit
        eius deleniti quod aperiam vitae perferendis ut cumque ipsam amet
        cupiditate. Quia alias expedita aspernatur dolor illum, odio quas
        repudiandae exercitationem cum nulla vero quo, beatae numquam? Tempore,
        quisquam molestiae quasi autem atque aperiam accusantium voluptate,
        blanditiis eaque illo saepe omnis. Ducimus officiis blanditiis rerum
        nam. Nihil at accusantium nobis expedita quibusdam. Illo pariatur, eaque
        aliquid reprehenderit delectus error nesciunt id vero unde adipisci
        magni sunt! Et similique fugit vel voluptatibus! Autem debitis quis
        consequuntur tempora illum omnis reprehenderit, at exercitationem minus
        alias illo voluptatem ullam, vel aperiam nisi. Dolor illum quam iste est
        ducimus? Qui, quasi. Delectus ex dolore temporibus! Aliquid velit
        doloremque totam quod provident eligendi molestiae amet rem deleniti
        magnam harum, aspernatur non aliquam aut mollitia nulla est in sequi
        voluptas, eum alias perferendis nam. Eaque, cupiditate itaque. Obcaecati
        commodi corporis laborum exercitationem facilis fugit minus voluptatum!
        Cumque deleniti voluptatem inventore recusandae distinctio, illo vitae
        voluptas expedita maxime necessitatibus iusto iure aliquid, quod
        voluptates excepturi nihil minima eligendi? Nobis aliquam, assumenda
        fugiat illo saepe laudantium non beatae inventore cum quo commodi minima
        totam tempora sit aspernatur quia nam possimus dolorum id consequatur
        vero! Vel, optio est. Tempore, voluptate. Eos perferendis animi sint
        magni quo accusantium adipisci doloremque amet totam earum impedit,
        accusamus esse! Assumenda in dolorum commodi dolore nulla iure
        accusantium quae obcaecati repellendus sequi saepe, hic delectus.
        Nostrum tempora provident quos deserunt sint fugit, suscipit nulla
        repudiandae, inventore beatae quaerat eius, tenetur cupiditate
        necessitatibus molestiae sit earum. Vitae, alias! Deserunt expedita quae
        voluptatem velit, aliquam rerum vero! Labore impedit unde a atque fuga,
        eligendi reprehenderit odit. Beatae, odio sit. Ea, debitis, sunt
        delectus porro aliquam incidunt quisquam laudantium cum quos minima
        recusandae et, accusantium voluptate reprehenderit beatae? Enim aliquam
        illum nobis odit necessitatibus provident nesciunt, reiciendis
        perspiciatis aliquid, ipsum cupiditate quis, ipsa officiis delectus odio
        laboriosam modi optio dolorem? Eius esse a modi velit sequi, doloremque
        expedita. Cum dolorum animi quae repudiandae voluptate quos, repellendus
        odit beatae, totam reprehenderit doloremque iste. Rem amet odio quae,
        pariatur recusandae nobis a corporis, incidunt, praesentium animi
        aliquam. Ducimus, quaerat laborum. Reiciendis, soluta expedita ex hic
        quo quidem voluptas quis nisi iste non accusamus sequi dolores aliquam
        commodi tempora dolorem neque iusto omnis molestiae alias similique.
        Facilis suscipit beatae est illum. Dicta, odio. Placeat, asperiores ab
        natus assumenda vel voluptatibus debitis numquam enim delectus aliquam
        et itaque necessitatibus unde odio illum dolore ut culpa vero harum
        omnis beatae labore suscipit. Rerum? Culpa pariatur provident obcaecati
        quae odit, corrupti fuga aliquam beatae, modi quaerat cum sunt eum
        voluptate consequuntur officiis voluptates laboriosam, molestiae ullam
        ut ducimus. Voluptatibus accusantium quae ratione ab velit? Vitae
        necessitatibus accusamus adipisci pariatur dolor deserunt laudantium
        animi numquam dolores optio corporis, fuga alias, vero asperiores
        quaerat cupiditate autem quam tempora eligendi quidem. Incidunt aliquam
        neque quam in aut. Iusto qui vel ullam aut alias molestias cum
        accusamus, adipisci rerum ex repellat exercitationem, nihil eius
        laboriosam quaerat voluptate asperiores magnam officia suscipit
        inventore maxime doloribus. Nobis vero tempore in. Lorem ipsum dolor sit
        amet consectetur, adipisicing elit. Facere distinctio delectus,
        asperiores tempora perferendis ullam odio corrupti ex dignissimos eos
        blanditiis temporibus. Illum laborum itaque veritatis doloremque
        expedita vero sapiente? Dicta voluptates laborum quia! Saepe commodi
        quasi tempore iste sint nemo natus reprehenderit nulla non et, optio,
        recusandae voluptatum fugit consequatur cum dolore rem aut mollitia
        reiciendis. Exercitationem, odit perspiciatis. Vitae blanditiis
        deserunt, iusto facere cum neque similique debitis eligendi doloremque
        cumque voluptate unde nemo provident magni aliquid dolorum pariatur vero
        eos quo voluptatum corporis et ex? Sequi, necessitatibus optio!
        Architecto voluptatem consequatur ipsam repellat hic blanditiis a
        molestias earum quam molestiae accusamus inventore, quibusdam excepturi
        ratione nostrum magnam dolorum. Voluptatibus officia doloremque ea sunt
        porro, sequi commodi voluptate fuga! Maxime, repellendus! Repudiandae,
        asperiores rem maxime deserunt velit rerum reprehenderit magnam, soluta
        vel totam cumque id veniam, atque praesentium vitae odit fuga ad nostrum
        quia cum! Harum eum alias tempora! Culpa officia minus nulla eaque
        dolores voluptatibus doloribus hic perferendis sapiente tenetur?
        Perspiciatis voluptas aut asperiores, vel aperiam atque nulla assumenda
        omnis. Odit doloribus numquam saepe officia incidunt voluptas quae.
        Aliquam natus, atque molestiae earum, quo id ab rerum cum, voluptatum
        cupiditate dolores. Iure laudantium rerum iste nihil. Omnis nam
        recusandae laboriosam blanditiis voluptatum, dignissimos iusto
        repudiandae exercitationem in tempore! Mollitia molestiae ex quidem
        tempora eos alias voluptas ducimus dolorum quia omnis fugit, repellat
        tenetur, sed ad modi eveniet exercitationem blanditiis sit odio culpa.
        Ipsa dolores iusto ex cupiditate assumenda. Libero porro sit labore!
        Dicta, quae? Unde ad totam ratione odit quibusdam beatae sunt iure eius
        placeat perferendis. Pariatur repellendus accusamus perferendis,
        deleniti expedita quasi nisi dolore laboriosam. Quaerat, facilis? Harum
        quas voluptates nobis dolorum pariatur quia quam voluptatem natus
        deleniti ad alias beatae perspiciatis debitis, delectus, possimus sit
        quo aliquid magni? Sint veniam a voluptatum dolorum inventore sequi
        laudantium.
    </div></Layout
>
