---
import Navbar from "@/components/Navbar.astro";
import "@fontsource-variable/inter";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/900.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mayu Capote Fotografía | Filmación</title>
    <meta name="description" content="Descripcion falta por hacer" />
    <meta name="keywords" content="keywords falta por hacer" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://mayucapote.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mayu Capote Fotografía | Filmación" />
    <meta property="og:description" content="Descripcion falta por hacer" />
    <meta property="og:image" content="/img/link-preview.webp" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="mayucapote.com" />
    <meta property="twitter:url" content="https://mayucapote.com" />
    <meta name="twitter:title" content="Mayu Capote Fotografía | Filmación" />
    <meta name="twitter:description" content="Descripcion falta por hacer" />
    <meta name="twitter:image" content="/img/link-preview.webp" />
  </head>
  <body>
    <main id="main">
      <Navbar />
      <slot />
    </main>
    <script>
      import Lenis from "@studio-freight/lenis";
      function initLenis() {
        const mediaTablet = window.matchMedia("(min-width: 768px)");

        if (mediaTablet.matches) {
          const lenis = new Lenis();

          function raf(time: any) {
            lenis.raf(time);
            requestAnimationFrame(raf);
          }

          requestAnimationFrame(raf);
        }
      }
      initLenis();
      document.addEventListener("astro:after-swap", initLenis, {
        once: false,
      });
    </script>
  </body>
</html>

<style is:global lang="scss">
  :root {
    --primary: #d1b78f;
    --primary-hover: #d1b78f21;
    --text-color: #fff;
    --bg-color: hsl(220 13% 8%);
    --bg-color-light: hsl(220, 11%, 11%);
    --bg-color-gay: #0a0908;
    --bg-color-transparency-gay: #0a0908f7;
    --secondary: #ffffff;
    --accent: #ac6f17;
    --border-color: hsla(0, 0%, 100%, 0.08);
    --border-color-light: hsla(0, 0%, 100%, 0.2);
    --container-width: 100rem;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter Variable", sans-serif;
  }
  body {
    background: var(--bg-color);
    color: var(--text-color);
  }
  main {
    position: relative;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar:vertical {
    width: 5px;
  }

  ::-webkit-scrollbar-button:increment,
  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar:horizontal {
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6f5c3f;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-track {
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
</style>
